
.defaultSimpleSkin {position:relative;}
.defaultSimpleSkin table.mceLayout {
	float: left;
	border: 1px solid #bbb;
	color: #aa9b83;
	height: 180px;
	width: 418px;
	background: #fff;
	background-repeat: repeat-x;
	margin: 0px 0px 0px -60px;
}







